[submodule "3rdparty/ascend/DeepEP-Ascend"]
	path = 3rdparty/ascend/DeepEP-Ascend
	url = https://github.com/deepseek-ai/DeepEP-Ascend.git
	branch = main

[submodule "3rdparty/ascend/DeepGEMM-Ascend"]
	path = 3rdparty/ascend/DeepGEMM-Ascend
	url = https://github.com/deepseek-ai/DeepGEMM-Ascend.git
	branch = main

[submodule "3rdparty/ascend/MegatronAdaptor"]
	path = 3rdparty/ascend/MegatronAdaptor
	url = https://gitcode.com/Ascend/MegatronAdaptor.git
	branch = main

[submodule "3rdparty/ascend/MindSpeed"]
	path = 3rdparty/ascend/MindSpeed
	url = https://gitcode.com/Ascend/MindSpeed.git
	branch = master

[submodule "3rdparty/ascend/MindSpeed-Ops"]
	path = 3rdparty/ascend/MindSpeed-Ops
	url = https://gitcode.com/Ascend/MindSpeed-Ops.git
	branch = master

[submodule "3rdparty/ascend/TransformerEngineNPU"]
	path = 3rdparty/ascend/TransformerEngineNPU
	url = https://gitcode.com/Ascend/TransformerEngineNPU.git
	branch = main

[submodule "3rdparty/common/FlagGems"]
	path = 3rdparty/common/FlagGems
	url = https://github.com/flagos-ai/FlagGems.git
	branch = master

[submodule "3rdparty/common/Megatron-Bridge"]
	path = 3rdparty/common/Megatron-Bridge
	url = https://github.com/zongzhilou/Megatron-Bridge.git
	branch = shensi

[submodule "3rdparty/common/Megatron-LM"]
	path = 3rdparty/common/Megatron-LM
	url = https://github.com/NVIDIA/Megatron-LM.git
	branch = main

[submodule "3rdparty/common/transformers"]
	path = 3rdparty/common/transformers
	url = https://github.com/zongzhilou/transformers.git
	branch = shensi

[submodule "3rdparty/common/verl"]
	path = 3rdparty/common/verl
	url = https://github.com/verl-project/verl.git
	branch = main

[submodule "3rdparty/common/verl-hardware-plugin"]
	path = 3rdparty/common/verl-hardware-plugin
	url = https://github.com/verl-project/verl-hardware-plugin.git
	branch = main

[submodule "3rdparty/common/vllm"]
	path = 3rdparty/common/vllm
	url = https://github.com/zongzhilou/vllm.git
	branch = shensi

[submodule "3rdparty/nvidia/DeepEP"]
	path = 3rdparty/nvidia/DeepEP
	url = https://github.com/deepseek-ai/DeepEP.git
	branch = main

[submodule "3rdparty/nvidia/DeepGEMM"]
	path = 3rdparty/nvidia/DeepGEMM
	url = https://github.com/deepseek-ai/DeepGEMM.git
	branch = main
